<link href="<%= url('style.css') %>" rel="stylesheet" type="text/css" />
<center>
<h1 class="logo">Star Paws</h1>
<h3><i>May the paws be with you!</i></h3>
<table>
   <tr>
      <td>
         <img class="giphy" width="300" height="175" src='https://media.giphy.com/media/ce1SY3W8cEXaE/giphy.gif'/>
         <center>
           </br>
           <progress value="<%= @game.player_1.health_points %>" max="100"></progress>
           <h4 class="HP" id="p1_hp">HP: <%= @game.player_1.health_points %></h4>
           <h1><%= @game.player_1.name %></h1>
           <% if @game.player_1.poisoned? == true %>
            <i class="red_text"> (posioned for <%= @game.player_1.poison_count %> turns)</i>
           <% end %>
      </td>
      <td>
         <h3>VS</h3>
      </td>
      <td>
         <img class="giphy" width="300" height="175" src='https://media.giphy.com/media/2QGVy6Ge7BKCc/giphy.gif'/>
         <<center>
           </br>
           <progress value="<%= @game.player_2.health_points %>" max="100"></progress>
           <h4 class="HP" id="p1_hp">HP: <%= @game.player_2.health_points %></h4>
           <h1><%= @game.player_2.name %></h1>
              <% if @game.player_2.poisoned? == true %>
              <i class="red_text"> (posioned for <%= @game.player_2.poison_count %> turns)</i>
              <% end %>
      </td>
   </tr>
</table>

<% if !@game.loser %>
<h3><%= @game.current_player.name %>, you're up! Choose an action</h3>
<div id="actions">
   <div>
      <form action="/attack">
         <input class="button-attack" class="btn" type='submit' value ='Attack'>
      </form>
   </div>
   <div>
      <form action="/sleep">
         <input class="button-attack" class="btn" type='submit' value ='Sleep'>
      </form>
   </div>
   <div>
      <form action="/poison">
         <input class="button-attack" class="btn" type='submit' value ='Poison'>
      </form>
   </div>
   <div>
      <form action="/force">
         <input class="button-attack" class="btn" type='submit' value ='Force'>
      </form>
   </div>
   <div>
      <form action="/heal">
         <input class="button-heal" type='submit' value ='Heal'>
   </div>
   </form>
</div>

<% else %>
  <h1 class="logo">Game over!</h1>
  <h2><%= @game.opponent_of(@game.loser).name %> won!! Sorry <%= @game.loser.name %> you lost!!</h2>
<% end %>
<form action="/">
   <input class="button" type='submit' value ='New game'>
   </div>
</form>
</center>
